@import "tailwindcss";

:root {
  --primary: #f4f4f4;
  --secondary: #1b1b1b;
  --secondaryLight: #1b1b1b5b;
  --blue: #25aaff;
  --blueLight: #57cfff;
  --content-width: 1200px;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secLight: var(--secondaryLight);
  --color-blue: var(--blue);
  --color-blueLight: var(--blueLight);
}

@media (prefers-color-scheme: dark) {
}

body {
  background: rgb(255, 255, 255);
  background-image: url("../../public/diagonal-striped-brick.png");
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr [content] 1200px 1fr;
  > * {
    grid-column: content;
    padding-inline: 2rem;
  }
  h1 {
    font-family: playfair;
  }
}

.shadow {
  box-shadow: 0 4px 15px #1b1b1b5b;
}

.full-bleed {
  grid-column: 1/-1;
  padding-inline: max(1rem, 50% - var(--content-width) / 2);
}

.black-gradient-80 {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.85) 0%,
    transparent 100%
  );
}

ul {
  li {
    color: var(--secondary);
    transition: all 0.2s ease-in;
    &:hover {
      scale: 1.1;
    }
  }
}
