@import "tailwindcss";

:root {
  --primary: #252525;
  --secondary: #ffffff;
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr [content] 1200px 1fr;
  > * {
    grid-column: content;
    padding-inline: 2rem;
  }
}
