@import "tailwindcss";

:root {
  --primary: #f4f4f4;
  --secondary: #1b1b1b;
  --secondaryLight: #1b1b1b5b;
  --blue: #25aaff;
  --blueLight: #57cfff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secLight: var(--secondaryLight);
  --color-blue: var(--blue);
  --color-blueLight: var(--blueLight);
}

@media (prefers-color-scheme: dark) {
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr [content] 1200px 1fr;
  > * {
    grid-column: content;
    padding-inline: 2rem;
  }
}
